.Layout-layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

.Layout-header {
  grid-area: header;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.Layout-main {
  grid-area: main;
}

.Layout-footer {
  grid-area: footer;
}