.Header-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

.Header-logo {
  display: flex;
  width: 65px;
  height: 65px;
  flex: 0 0 auto;
}

.Header-logo img {
  width: 65px;
  height: 65px;
}

.Header-nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.Header-nav-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Header-nav ul {
  list-style: none;
  display: flex;
  gap: 90px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.Header-nav ul li {
  text-align: center;
}

.Header-nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  padding: 5px 0;
}

.Header-nav ul li a:hover {
  color: white;
  background-color: #1a1a1a;
  border-radius: 7px;
  padding: 5px 10px;
}

.Header-signup-container {
  display: flex;
  gap: 12px;
  align-items: center;
  flex: 0 0 auto;
}

.Header-signup,
.Header-login,
.Header-logout-btn {
  white-space: nowrap;
  display: flex;
  background-color: #1a1a1a;
  color: white;
  padding: 8px 15px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.Header-signup:hover,
.Header-login:hover,
.Header-logout-btn:hover {
  background-color: black;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.Header-menu-btn {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 25px;
  z-index: 1001;
}

.Header-menu-btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #1a1a1a;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.Header-menu-btn span:nth-child(1) {
  top: 0;
}
.Header-menu-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.Header-menu-btn span:nth-child(3) {
  bottom: 0;
}

.Header-menu-btn.open span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.Header-menu-btn.open span:nth-child(2) {
  opacity: 0;
}
.Header-menu-btn.open span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.Header-nav-active {
  font-weight: bold;
  color: black;
  border-bottom: 2px solid black;
}

@media (max-width: 1200px) {
  .Header-nav ul {
    gap: 50px;
  }
}

@media (max-width: 992px) {
  .Header-nav ul li a {
    font-size: 18px;
  }
  .Header-signup {
    font-size: 18px;
    padding: 6px 12px;
  }
}

@media (max-width: 850px) {
  .Header-nav ul {
    gap: 30px;
  }
  .Header-signup-container {
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .Header-nav-center,
  .Header-signup-container {
    display: none;
    position: relative;
    bottom: 20px;
  }
  .Header-menu-btn {
    display: flex;
  }

  .Header-nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1000;
  }

  .Header-nav.active .Header-nav-center {
    display: block;
    margin-bottom: 30px;
  }
  .Header-nav.active ul {
    flex-direction: column;
    gap: 25px;
  }
  .Header-nav.active .Header-signup-container {
    display: block;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .Header-logo img {
    width: 60px;
  }
  .Header-nav ul li a {
    padding: 10px 20px;
  }
}